<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>Mousey</string>
    <key>CFBundleIdentifier</key>
    <string>com.mousey.remote</string>
    <key>NSMotionUsageDescription</key>
    <string>Mousey uses motion sensors to move your computer pointer.</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>Mousey connects to the Mousey receiver on your local Wi-Fi network.</string>
</dict>
</plist>
